.home{
      width: 100vw;
      background-image: url('../img/IMG_3298 copia.png');
      background-size: cover;
      justify-content: center;
      filter: opacity(10px);
}
.home h2{
      width: auto;
      border-radius: 20px;
      box-shadow: 10px 10px 10px rgba(200, 162, 10, 0.867);
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-right: 1px solid rgba(255, 255, 255, 0.5);
      color:rgba(132, 117, 56, 0.867);
      font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
}
a {
      
      text-decoration: none;
}
.cards{
      width: 100%;
      display: grid;
      grid-template-columns: 3fr;
      
}
.card{
            
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
          
}

