.pg {
    list-style: none;
    display: inline-flex;
    color:rgba(230, 191, 35, 0.867) ;
    width: auto;
    height: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 10px 10px 10px rgba(200, 162, 10, 0.867);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    background: transparent; 
    border-radius: 70px;
    border: none;
    padding: auto;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.7s;
    cursor: pointer;
}
.pg li{
    margin: 5px 5px;
    padding: 5px 5px;
}
.pg li:hover {
    border-radius: 80px;
    background-color: #f28b24e6;
    color: white;
}
li:focus {
    background-color: rgba(0, 0, 0, 0.591);

}